<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Django Keep - Archive</title>
</head>
<body>
    <div class='content'>
        <h1>Django Keep</h1>
        <div class="nav">
            <form id="noteSectForm" action="/" method = "post">{% csrf_token %}
                <input id="noteSection" class="button" type="submit" value="Notes">
            </form>
            <form id="archSectForm" action="archive/" method = "post">{% csrf_token %}
                <input id="archSection" class="button" type="submit" value="Archive">
            </form>
        </div>
        <div class="list">
            {% if not all_tasks %}
                    <span id="emptyArchText">
                        <h2>This Archive is empty!</h2>
                    </span>
                {% endif %}
            {% for i in all_tasks %}
                {% if i.is_archived == True %}
                    <div id="task">
                        <div class="actions">
                            <form action="/archiveItem/{{i.id}}/" method="post">{% csrf_token %}
                                <input class="button" id="archButton" type="image" src="/static/imgs/archive.svg">
                            </form>
                            <form action="/deleteItem/{{i.id}}/" method="post">{% csrf_token %}
                                <input class="button" id="deleteButton" type="image" src="/static/imgs/close.svg">
                            </form>  
                        </div>
                        <span id="taskText"><p>{{i.content}}</p></span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>