<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Django To-do</title>
</head>
<body>
    <div class='content'>
        <h1>Django To Do</h1>
        <form id="taskInput" action="/addTodoItem/" method = "post">{% csrf_token %}
            <textarea id="taskContent" columns=50 rows=5 placeholder="Your note here..." name="content"></textarea>
            <input class="button" type="submit" value="Add Task">
        </form> 
        <div class="list">
            {% for i in all_tasks %}
                <ul id="task">
                    <li>
                        {{i.content}}<br><hr>
                        {% if i.is_done == True %}
                        <h3 class="doneText">DONE</h3>
                        {% else %}
                        <h3 class="doneText">IN PROGRESS</h3>
                        {% endif %}
                    </li>
                    <div class="actions">
                        <form  id="checkbox" action="/markAsDone/{{i.id}}/" method="post">{% csrf_token %}
                            {% if i.is_done == False %}
                                <input class="button" id="check" type="submit" name="done" value="Check">
                            {% else %}
                                <input class="button" id="check" type="submit" name="done" value="Uncheck">
                            {% endif %}
                        </form>
                        
                        <form action="/deleteTodoItem/{{i.id}}/" method="post">{% csrf_token %}
                            <input class="button" id="deleteButton" type="submit" value="Remove">
                        </form>  
                    </div>
                </ul>
            {% endfor %}
        </div>
    </div>
</body>
</html>