<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Django To-do</title>
</head>
<body>
    <div class='content'>
        <h1>Django Keep</h1>
        <div class='input'>
            <form id="taskForm" action="/addTodoItem/" method = "post">{% csrf_token %}
                <div class="textWrapper">
                    <textarea id="taskContent" columns=50 rows=1 placeholder="Your note here..." name="content"></textarea>
                </div>
                <div class='inputButtons'>
                    <input id="addButton" class="button" type="submit" value="+">
                </div>
            </form> 
        </div>
        <div class="list">
            {% for i in all_tasks %}
                <div id="task">
                    <div class="actions">
                        <form action="/deleteTodoItem/{{i.id}}/" method="post">{% csrf_token %}
                            <input class="button" id="deleteButton" type="submit" value="x">
                        </form>  
                    </div>
                    <span id="taskText"><p>{{i.content}}</p></span>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>