:root {
    --background: rgb(60, 59, 63);
    --task-background: rgb(46, 44, 50);
    --shadow-color: rgb(23, 23, 23);
    --green: rgb(56, 165, 70);
    --light-green: rgb(228, 252, 230);
    --note-green: rgb(50, 133, 76);
    --button-background: rgb(50, 133, 76);
    --text-color: rgb(239, 246, 252);

    --border-curve: 12px;
    --button-curve: 10px;
    --small-button-curve: 5px;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2em;
    user-select: none;
    margin-top: 0;
    margin-bottom: 10vh;
    color: var(--green)
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 0 auto;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input input:focus {
    outline: none;
}

.textWrapper {
    border: var(--green) 2px solid;
    border-radius: var(--border-curve);
    width: 20vw;
    justify-items: center;
    padding: 10px;
    margin-bottom: 5vh;

}

.inputButtons {
    width: auto;
    margin-left: 1vw;
}

.list {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    min-width: 40vw;
    max-width: 55vw;
    margin-top: 5vh;
}

.actions {
    margin: -20px -20px 10px auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.actions input {
    font-size: 1.2em;
}

.button {
    border: none;
    border-radius: var(--button-curve);
    min-width: 30px;
    min-height: 30px;
    margin: 0;
    color: var(--text-color);
    background-color: var(--background);
    font-size: 1.2rem;
    font-weight: 700;
}

.doneText {
    text-align: center;
    user-select: none;
}

#taskForm {
    display: flex;
}

#addButton {
    background-color: white;
    color: var(--green);
    min-width: 30px;
    min-height: 30px;
    margin-top: 8px;
}

#doneText {
    font-size: 2em;
    font-weight: 700;
    color: var(--text-color);
}

#taskContent {
    color: var(--text-color);
    background-color: var(--background);
    border: none;
    resize: none;
    width: 100%;
    font-size: 1rem;
    animation-duration: 500ms;
    animation-delay: 50ms;
    animation-fill-mode:both;
    animation-timing-function: ease-in-out;
}

#taskContent:focus {
    outline: none;
    animation-name: anm-grow-input;
}

@keyframes anm-grow-input {
    from {
        height: 1.2em;
    }

    to {
        height: 12em;
    }
}

#task {
    display: flex;
    flex-direction: column;
    background-color: var(--note-green);
    border-radius: var(--border-curve);
    min-width: 14vw;
    max-width: 14vw;
    width: 20vw;
    max-height: 34vh;
    word-wrap: break-word;
    padding-bottom: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: var(--shadow-color) 1px 3px 10px;
    overflow: hidden;
}

#task:hover #deleteButton {
    opacity: 1;
}

#task p {
    white-space:pre-line;
    margin: 0;
    padding: 0;
}

#taskText {
    overflow: hidden;
    margin: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}

#task .button {
    align-self: flex-end;
}

#check {
    padding:0;
    background-color: var(--button-background);
}

#deleteButton {
    opacity: 0;
    border: white 2px solid;
    background-color: white;
    color: var(--note-green);
    align-self: flex-end;
    padding: 0;
}

/* For Responsiveness */

@media screen and (max-width: 860px) {

    .textWrapper {
        width: 70vw;
        justify-items: center;
    }

    .list {
        margin-left: 5vw;
        margin-right: 5vw;
        min-width: 90vw;
        justify-content: center;
    }

    #taskContent {
        font-size: 1.6em;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #task {
        font-size: 1.2em;
        min-width: 70vw;
    }

    #addButton {
        font-size: 1.4em;
        margin-left: 10px;
    }
}